{% extends 'theatre/base.html' %}
{% load static %}
{% block content %}

<!-- Navigation-->
<!-- Header-->
{% for object in object_list %}
<div class="row featurette">
    <div class="col-3">
        <h4 class="featurette-heading">Наименование: </h4>
        <p class="text">Адрес:</p>
        <p class="text">Телефон:</p>
    </div>
    <div class="col-auto">
        <h4 class="featurette-heading">{{ object.organization }} </h4>
        <p class="text">{{ object.organization.address }}</p>
        <p class="text">{{ object.organization.phone }}</p>
    </div>
    <h4 class="lead">Банковские реквизиты: </h4>
    <div class="col-3">
        <p class="text">Номер расчетного счета:</p>
        <p class="text">БИК банка:</p>
        <p class="text">ИНН:</p>
        <p class="text">Номер карты:</p>
    </div>
    <div class="col-auto">
        <p class="text">{{ object.account_number }}</p>
        <p class="text">{{ object.bic_code }}</p>
        <p class="text">{{ object.tin_number }}</p>
        <p class="text">{{ object.card_number }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}