{% extends 'theatre/base.html' %}
{% load static %}
{% load path %}
{% block content %}

<!-- Navigation-->
<!-- Header-->
{% if request.user.is_superuser %}
<div class="col-3 m-3">
    <a href="{% url 'theatre:gallery-creation' %}" class="btn btn-dark align-center">Загрузить медиафайлы</a>
</div>
{% endif %}
{% for key, value in photos.items %}
<div class="container">
    <div class="row">
        <h2 class="featurette-heading">{{ key }}</h2>
        <p class="lead">Количество медиафайлов: {{ value|length }}</p>

        {% for object in value %}

        {% if object.photo %}
        <div class="col-3">
            <div class="row g-2 padding: 10px">
                <div class="card" style="width: 15rem;">
                    <a href="{% url 'theatre:gallery-detail' object.pk %}">
                        <img class="card-img-top align-center" src="{% get_url_picture object.photo %}"
                             alt="{% get_url_picture object.photo %}">
                    </a>
                    <div class="row mx-n1">
                        {% if request.user.is_superuser %}
                        <div class="col px-1"><a href="{% url 'theatre:gallery-deletion-mark' object.pk %}"
                                                 class="badge bg-dark text-wrap"
                                                 style="width: 6rem;">Пометить
                            на
                            удаление</a>
                        </div>
                        {% endif %}
                        <div class="col px-1"><a href="{% url 'theatre:gallery-detail' object.pk %}"
                                                 class="badge bg-dark text-wrap"
                                                 style="width: 6rem;">Просмотр</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {% elif object.video %}
        <div class="col-3">
            <div class="row g-2 padding: 10px">
                <div class="card" style="width: 15rem;">
                    <a href="{% url 'theatre:gallery-detail' object.pk %}">
                        <img class="single-video" src="{% static 'photo/system/no_video.jpg' %}" height="200"
                             alt="{% url 'theatre:gallery-detail' object.pk %}">
                    </a>

                    <div class="row mx-n1">
                        {% if request.user.is_superuser %}
                        <div class="col px-1"><a href="{% url 'theatre:gallery-deletion-mark' object.pk %}"
                                                 class="badge bg-dark text-wrap"
                                                 style="width: 6rem;">Пометить
                            на
                            удаление</a>
                        </div>
                        {% endif %}
                        <div class="col px-1"><a href="{% url 'theatre:gallery-detail' object.pk %}"
                                                 class="badge bg-dark text-wrap"
                                                 style="width: 6rem;">Просмотр</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if forloop.last %}
        <hr>
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endfor %}

{% if request.user.is_superuser %}
<div class="col-3 m-3">
    <a href="{% url 'theatre:gallery-deletion-form' %}" class="btn btn-dark align-left width-50%">Удалить
        медиафайлы</a>
</div>
{% endif %}

<!--</main>-->
{% endblock %}