{% extends 'theatre/base.html' %}
{% load static %}
{% load path %}
{% block content %}
<div class="container">
    <div class="row g-2 padding: 10px">
        <table class="table-light">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Фотография</th>
                <th scope="col">Название файла и путь</th>
                <th scope="col">Удалить</th>
                <th scope="col">Восстановить</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}

            {% if file.photo %}
            <tr class="table-light">
                <th scope="row">{{ file.pk }}</th>
                <td><img src="{% get_url_picture file.photo %}" class="img-thumbnail w-50"
                         alt="{% get_url_picture file.photo %}"></td>
                <td>{{ file.photo }}</td>
                <td><a href="{% url 'theatre:gallery-deletion' file.pk %}">Удалить</a></td>
                <td><a href="{% url 'theatre:gallery-restore' file.pk %}">Восстановить</a></td>
            </tr>
            </tbody>
            {% elif file.video %}
            <tr class="table-light">
                <th scope="row">{{ file.pk }}</th>
                <td><img src="{% get_url_picture file.video %}" class="img-thumbnail w-50"
                         alt="{% get_url_picture file.video %}"></td>
                <td>{{ file.video }}</td>
                <td><a href="{% url 'theatre:gallery-deletion' file.pk %}">Удалить</a></td>
                <td><a href="{% url 'theatre:gallery-restore' file.pk %}">Восстановить</a></td>
            </tr>
            </tbody>
            {% endif %}

            {% endfor %}
        </table>

    </div>
</div>

<!-- Navigation-->
<!-- Header-->

<!--</main>-->
{% endblock %}