{% extends 'theatre/base.html' %}
{% load static %}
{% load path %}
{% block content %}

<!-- Navigation-->
<!-- Header-->
<div class="container">
    <div class="row">
        {% for event in events %}
            <div class="col-md-3">
                <div class="card" style="height: auto;">
                    {% if event.picture %}
                    <img src="{% get_url_picture event.picture %}" class="card-img-top img-fluid" alt="{% get_url_picture event.picture %}" style="height: auto; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'photo/system/no_picture.jpg' %}" class="card-img-top img-fluid" alt="photo/system/no_picture.jpg'" style="height: auto; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.event }}</h5>
                        <p class="card-text">Педагоги:<br>{{ event.teacher_names }}</p>
                        <p class="card-text">Адрес:<br>{{ event.address }}</p>
                        {% if event.time %}
                        <p class="card-text">Расписание:<br>{{ event.weekday_names }} в {{ event.time }}</p>
                        {% else %}
                        <p class="card-text">Расписание:<br>{{ event.date_time }}</p>
                        {% endif %}
<!--                        <a href="#" class="btn btn-dark">Перейти куда-нибудь</a>-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!--</main>-->
{% endblock %}