{% extends 'theatre/base.html' %}
{% load static %}
{% load path %}
{% block content %}

<!-- Navigation-->
<!-- Header-->
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-3">
            <div class="card" style="height: auto;">
                {% if object.image %}
                <a href="{% url 'theatre:teachers_detail' object.pk %}"><img src="{% get_url_picture object.image %}" class="card-img-top img-fluid" alt="{{ object.get_full_name }}" style="height: auto; object-fit: cover;"></a>
                {% else %}
                <a href="{% url 'theatre:teachers_detail' object.pk %}"><img src="{% static 'photo/system/no_teacher.jpg' %}" class="card-img-top img-fluid" alt="{{ object.get_full_name }}" style="height: auto; object-fit: cover;"></a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ object.get_full_name }}</h5>
                    <p class="card-text">Специальность:<br>{{ object.specialty }}</p>
                    <p class="card-text">Биография:<br>{{ object.biography|truncatechars:40 }}</p>
                                            <a href="{% url 'theatre:teachers_detail' object.pk %}" class="btn btn-dark">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--</main>-->
{% endblock %}