<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Вывод заголовка навигации -->
                {# Блок навигации, а так же проверки на активные топики #}
                {% if active_topics.0 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:index' %}">Главная</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:index' %}">Главная</a></li>
                {% endif %}
                {% if active_topics.1 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:schedule' %}">Расписание</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:schedule' %}">Расписание</a></li>
                {% endif %}
                {% if active_topics.2 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:gallery' %}">Галерея</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:gallery' %}">Галерея</a></li>
                {% endif %}
                {% if active_topics.3 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:teachers' %}">Педагоги</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:teachers' %}">Педагоги</a></li>
                {% endif %}
                {% if active_topics.4 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:contacts' %}">Контакты</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:contacts' %}">Контакты</a></li>
                {% endif %}
                {% if active_topics.5 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:news' %}">Новости</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:news' %}">Новости</a></li>
                {% endif %}
                {% if active_topics.6 == header_name %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'theatre:about' %}">О нас</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'theatre:about' %}">О нас</a></li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownRegistrationOrSignIn" href="#"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Войти</a>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownRegistrationOrSignIn">
                        {% if not request.user %}
                        <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:registration' %}">Регистрация</a></li>
                        {% else %}
                        <li><a class="dropdown-item">{{ request.user.username }}</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>