{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Navigation-->
<!-- Header-->
<div class="container px-5 bg-dark w-100">
    <div class="col-12 p-3 border bg-dark">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
                        <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и
                        составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</main>-->
{% endblock %}